{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off"
  },
  "env": {
    "shared-node-browser": true,
    "es6": true,
    "node": true,
    "browser": true
  }
}